* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

.nav-info {
  background-color: #838671;
  color: #FDFBEF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFBEF;
}

.navbar-brand {
  font-family: Caprasimo;
}
