/* Reset CSS */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  height: 300vh;
}

/* Navigation Info Styles */
.nav-info {
  background-color: #838671;
  color: #fdfbef;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfbef;
}

.navbar-brand {
  font-family: Caprasimo;
  padding-bottom: 0 !important;
}

/* Hero Section 1 Styles */
.hero-section {
  background-color: #838671;
  height: 80vh;
}

.btn-order-now {
  background-color: #e9ec79;
  padding: 0.5rem 8rem;
  border-radius: 0.5rem;
}

.image-hero {
  max-height: 75vh;
}

.text-yellow {
  color: #e9ec79;
}

.h1-hero {
  font-size: 4rem;
  line-height: 3.5rem;
}

.hero-text {
  max-width: 40em;
}

.flex-point {
  padding-right: 7rem;
  gap: 1rem;
}

.text-cream {
  color: #fdfbef;
}

/* Hero Section 2 Styles */
.hero-section-2 {
  background-color: #fdfbef;
  height: 70vh;
}

.text-grey {
  color: #c5c3b7;
}

.btn-order-now-2 {
  background-color: #838671;
  padding: 0.5rem 8rem;
  border-radius: 0.5rem;
}

.image-hero-2 {
  min-height: 50vh;
}

/* Contact Section */
.contact-section {
  background-color: #838671;
}

.btn-submit {
  background-color: #e9ec79 !important;
}
